body{
  background-color: #f4f6f9 !important;
}

.modal-cargando{
  z-index: 7000 !important; 
  background-color: rgba(0, 0, 0, 0.5);
}

.btn-verdeOscuro {
  color: #fff;
  background-color: #336825;
  border-color: #336825;
}

.btn-verdeOscuro:hover {
  color: #fff;
  background-color: #27461e;
  border-color: #2A492F;
}

.btn-verdeOscuro:focus, .btn-verdeOscuro.focus {
  color: #fff;
  background-color: #27461e;
  border-color: #2A492F;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-verdeOscuro.disabled, .btn- morado:disabled {
  color: #fff;
  background-color: #336825;
  border-color: #336825;
}

.btn-verdeOscuro:not(:disabled):not(.disabled):active, .btn- morado:not(:disabled):not(.disabled).active,
.show > .btn-verdeOscuro.dropdown-toggle {
  color: #fff;
  background-color: #27461e;
  border-color: #2A492F;
}

.btn-verdeOscuro:not(:disabled):not(.disabled):active:focus, .btn- morado:not(:disabled):not(.disabled).active:focus,
.show > .btn-verdeOscuro.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-outline-verdeOscuro {
  color: #336825;
  border-color: #336825;
}

.btn-outline-verdeOscuro:hover {
  color: #fff;
  background-color: #336825;
  border-color: #336825;
}

.btn-outline-verdeOscuro:focus, .btn-outline-verdeOscuro.focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.btn-outline-verdeOscuro.disabled, .btn-outline-verdeOscuro:disabled {
  color: #336825;
  background-color: transparent;
}

.btn-outline-verdeOscuro:not(:disabled):not(.disabled):active, .btn-outline-verdeOscuro:not(:disabled):not(.disabled).active,
.show > .btn-outline-verdeOscuro.dropdown-toggle {
  color: #fff;
  background-color: #336825;
  border-color: #31663A;
}

.btn-outline-verdeOscuro:not(:disabled):not(.disabled):active:focus, .btn-outline-verdeOscuro:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-verdeOscuro.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}

.box-loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 150px;
  height: 150px;
  opacity: 1.5 !important;
}

.box-loading > div {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

.box-loading img{
  margin-top: 35px;
}

.loader {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid transparent;
  border-top: 8px solid #336825;
  border-bottom: 8px solid #336825;
  border-radius: 100%;
  animation: rotate 5s linear infinite;
}

.loader-1 {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid #00bcc1;
  border-radius: 100%;
  animation: rotate 5s linear infinite;
}

.loader-2 {
  width: calc(100% - 0px);
  height: calc(100% - 0px);
  border: 8px solid transparent;
  border-top: 8px solid #336825;
  border-bottom: 8px solid #336825;
  border-radius: 100%;
  animation: rotate 1s linear infinite reverse;
}

@keyframes rotate {
  0%{transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

/* Ancho de pantalla */
.w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-60{
  width: 60% !important; 
}

.w-75 {
  width: 75% !important;
}

.w-100 {
  width: 100% !important;
}


@media (min-width: 576px) {
  .w-sm-25 {
    width: 25% !important;
  }

  .w-sm-50 {
    width: 50% !important;
  }

  .w-sm-60 {
    width: 60% !important;
  }

  .w-sm-75 {
    width: 75% !important;
  }

  .w-sm-100 {
    width: 100% !important;
  }
}

@media (min-width: 768px) {
  .w-md-25 {
    width: 25% !important;
  }

  .w-md-50 {
    width: 50% !important;
  }

  .w-md-60 {
    width: 60% !important;
  }

  .w-md-75 {
    width: 75% !important;
  }

  .w-md-100 {
    width: 100% !important;
  }
}

@media (min-width: 992px) {
  .w-lg-25 {
    width: 25% !important;
  }

  .w-lg-50 {
    width: 50% !important;
  }

  .w-lg-60 {
    width: 60% !important;
  }

  .w-lg-75 {
    width: 75% !important;
  }

  .w-lg-100 {
    width: 100% !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-25 {
    width: 25% !important;
  }

  .w-xl-50 {
    width: 50% !important;
  }

  .w-xl-60 {
    width: 60% !important;
  }

  .w-xl-75 {
    width: 75% !important;
  }

  .w-xl-100 {
    width: 100% !important;
  }
}

/* Fin ancho pantalla */
